{% load thumbnail %}

{% for o in objects %}
  <table class="imageBlock0" cellpadding="0" cellspacing="0"
          filename="{{o.f_name}}" fname="{{o.f_name}}" ext="{{o.ext}}"
          path="{{o.linkto}}" linkto="{{ o.linkto }}"
          serv_url="{{ o.abs_url }}"
          abs_url="{{o.abs_url}}" url="{{ o.url }}"
          fsize="{{o.fsize}}" date="{{o.fdate}}"
          fwidth="{{o.fwidth}}" fheight="{{o.fheight}}"
          ><tr><td valign="bottom" align="center">
    <div class="imageBlock1">
     <div class="imageImage">
       {% comment %}
       {% thumbnail o.rel_path '100x100' upscale=False as thumb %}
          <img src="{{thumb.url}}"
               style="margin:{{ thumb|margin:'100x100' }}"
               alt="{{o.f_name}}" />
       {% endthumbnail %}
       {% endcomment %}
          <img src="{{o.abs_url}}"
               style="max-width: 100px; max-height: 100px;"
               alt="{{o.f_name}}" />
      </div>
     <div class="imageName">{{o.f_name }}</div>
    </div>
   </td></tr></table>
{% endfor %}
